.logo{
  color: #fff;
  max-height: 63.5px;
  text-align: center;
  line-height: 64px;
  font-size: 24px;
  background-color: #001529;
}
.link-btn{
  color: rgba(0, 0, 0, 0.65);
}

.router-enter{
  opacity: 0;
  transform: translateX(100%);
}
.router-enter-active{
  opacity: 1;
  transform: translateX(0%);
  transition: all 500ms;
}

.router-exit{
  opacity: 1;
  transform: translateX(0%);
}
.router-exit-active{
  opacity: 0;
  transform: translateX(-100%);
  transition: all 500ms ;
}

.main-content{
  padding: 24px;
  background-color: #fff;
  min-height: 360px;
}
.divider{
  margin: 8px 0;
}
.ant-btn {
  margin-right: 8px;
}
.w-e-text-container{
  height: 380px !important;
}