

body{
    background-color: #f6f6f6;  
  }
ul{
    padding: 0;
}
.floatLeft{
    float: left;
}
.floatRight{
    float: right;
}

.ant-layout-header{
    background-color: #fff;
    -webkit-box-shadow: 0 1px 6px 0 hsla(0,0%,60.8%,.5);
    box-shadow: 0 1px 6px 0 hsla(0,0%,60.8%,.5);
}

.ant-menu-horizontal{
    border-bottom:0px;
}
.content{
    padding: 0 5rem;
    margin-top: 65px;
    .main{
        background: #fff; 
        border-radius: .3rem;
        margin-top: .5rem;
        overflow: hidden;
    };
    .right{
        margin-left: 0.5rem;
    }
}

@media only screen and (max-width:750px),
only screen and (max-device-width:750px) {
    .content{
        padding: 0 0.1rem;
    }
    .ant-layout-header{
        padding: 0 0.5rem;
    }
}
.page-enter-active, .page-leave-active {
    transition: opacity .5s;
  }
.page-enter, .page-leave-active {
    opacity: 0.3;
  }
.ant-back-top{
    right: 2rem;
  }
.ant-menu-submenu-horizontal .ant-menu-submenu-title  a{
    display: block;
    color: rgba(0, 0, 0, 0.65);
}
.ant-menu-horizontal{
    .ant-menu-submenu a:hover,
    .ant-menu-submenu-active a,
    .ant-menu-submenu-open a,
    .ant-menu-submenu-selected a
    {
        color: #00c58e ;
    }
}

